@page "/"
@using Grpc.Net.Client
@using Google.Protobuf.WellKnownTypes;
@using BlazorWasmGrpcBlog.Client.Helpers
@using BlazorWasmGrpcBlog.Shared.Protos
@inject GrpcChannel Channel

<h1>Blog Posts</h1>

@if (postsLst == null)
{
    <p>Loading ...</p>
}
else
{
    foreach (var post in postsLst)
    {
        <p>
            (@post.PostId) @DtUtils.DbUtc2Local(post.DateCreated) - @post.Title by @post.PostAuthor.Name - @DtUtils.ProtoTs2Utc(post.PostExtended.Ts)
            <br />Tags: @foreach (var t in post.TagsInPostData)
            {
                <span>[@t.TagId] </span>
            }
            <br />@post.PostExtended.Content
        </p>
        <hr />
    }
}

@code {
    private BlogProto.BlogProtoClient client;
    private List<Post> postsLst;

    protected override async Task OnInitializedAsync()
    {
        client = new BlogProto.BlogProtoClient(Channel);
        postsLst = (await client.GetPostsAsync(new Empty())).PostsData.ToList();
    }
}
